(
    graph: (
        nodes: [
            (
                node_type: Blend,
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation0"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation23"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation15"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation22"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation6"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation3"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation10"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation7"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation17"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation8"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation20"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation12"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation19"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation4"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation18"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation21"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation1"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation16"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation2"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation13"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation9"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation14"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation11"),
                mask: 0,
                weight: 1.0,
            ),
            (
                node_type: Clip("models/Format/Formal.gltf#Animation5"),
                mask: 0,
                weight: 1.0,
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [
            Some((0, 1, ())),
            Some((0, 2, ())),
            Some((0, 3, ())),
            Some((0, 4, ())),
            Some((0, 5, ())),
            Some((0, 6, ())),
            Some((0, 7, ())),
            Some((0, 8, ())),
            Some((0, 9, ())),
            Some((0, 10, ())),
            Some((0, 11, ())),
            Some((0, 12, ())),
            Some((0, 13, ())),
            Some((0, 14, ())),
            Some((0, 15, ())),
            Some((0, 16, ())),
            Some((0, 17, ())),
            Some((0, 18, ())),
            Some((0, 19, ())),
            Some((0, 20, ())),
            Some((0, 21, ())),
            Some((0, 22, ())),
            Some((0, 23, ())),
            Some((0, 24, ())),
        ],
    ),
    root: 0,
    mask_groups: {},
)