{
    "Death": 1,
    "Gun_Shoot": 17,
    "HitRecieve": 19,
    "HitRecieve_2": 6,
    "Idle": 14,
    "Idle_Gun": 24,
    "Idle_Gun_Pointing": 5,
    "Idle_Gun_Shoot": 8,
    "Idle_Neutral": 10,
    "Idle_Sword": 21,
    "Interact": 7,
    "Kick_Left": 23,
    "Kick_Right": 12,
    "Punch_Left": 20,
    "Punch_Right": 22,
    "Roll": 3,
    "Run": 18,
    "Run_Back": 9,
    "Run_Left": 15,
    "Run_Right": 13,
    "Run_Shoot": 11,
    "Sword_Slash": 16,
    "Walk": 4,
    "Wave": 2,
}